/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Header */
.header {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 100px;
}

/* Titre */
.title {
    text-align: center;
    color: #333;
}

/* Conteneur principal */
.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Formulaire */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 90%;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    position: relative;
    align-items: center;
}

button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}


/* Message d'erreur */
.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
